.wrapper{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#198754;
    color:white;
    padding:25px;
}

.logo{
    font-size:24px;
    font-weight:700;
    margin-bottom:40px;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.menu a{
    color:white;
    text-decoration:none;
    padding:12px 15px;
    border-radius:10px;
    transition:.3s;
}

.menu a:hover{
    background:rgba(255,255,255,.15);
}

.content{
    flex:1;
    padding:30px;
}

@media(max-width:768px){

    .wrapper{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }

}